minishell/cmake-build-debug/*
minishell/.idea/*
minishell/.idea/workspace.xml
.idea/workspace.xml
minishell/a.out
minishell/minishell.dSYM/*
minishell/minishell
minishell/libft/*.o
minishell/minishell_history
minishell/libft.a
CMakeLists.txt
.vscode/*
.DS_Store
